.episode-container{
  margin-top: 1.5rem;
  padding: 2rem;
}

.episode{
  display: flex;
  min-width: 250px;
  justify-content: space-between;
  align-items: center;
  color: $color-green-light;
  &:not(:first-child){
    margin-top: 1rem;
  }

  input{
    height: 25px;
    width: 25px;
    accent-color: $color-accent;

  }

  svg{
    height: 35px;
    width: 35px;
    cursor: pointer;
  }


  &__title{
    font-weight: bold;
    &--watched{
      text-decoration: line-through;
    }
  }
}