.watch-list{
  margin-top: 2rem;
  &__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
      margin-right: 0.5rem;
      color: $color-green-light;
      background: $color-blue-dark;
      outline: none;
      border: 1px solid $color-green-light;
      border-radius: 10px;
      padding: 0.2rem 0;
      text-indent: 10px;

      &::placeholder {
        color: $color-white;
      }
    }
  }
}