$color-spot-2:              #de0055 ;
$color-spot-3:              #002c50 ;;

$color-black:                #000;
$color-white:                #fff;

$color-off-white:            #f3f3f3;

$color-gray-light-1:         #e5e5e5;
$color-gray-light-2:         #d1d1d1;
$color-gray-light-3:         #a2a2a2;
$color-gray:                 #707070;


$color-base:                #303030;
$color-base-bg:             $color-white;

$color-heading:             $color-base;

$color-grey:                #abb3b0;
$color-grey-bg:             #f9f9f9;
$color-extra-grey:          #333333;

$color-brand:               #07261c;
$color-extraBrand:          #0e553f;
$color-brandLight:          #105640;
$color-brandExtraLight:     #dfece8;
$primary-color:             #0f5640;

$color-dark-red:            #cd0000;

$yellow-main: #dcad27;
$yellow-main-50: rgba(220, 173, 39, 0.5);